roles/base-config/files/VMwareTools-10.3.21-14772444.tar.gz
roles/java8-tomcat8/files/jdk-8u172-linux-x64.tar.gz
roles/java8-tomcat8/files/apache-tomcat-8.5.32.tar.gz
roles/java8-tomcat8/files/postgresql-42.2.4.jar
